* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.TitlePrincipal {
  color: #0e1a8ad7;
  text-align: center;
  padding-top: 40px;
}
/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.contenedor-card{
	width: 20%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #720000;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
	
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*Fin-Cards*/


/* Tablas */
/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/
body{
	background-color: #632432;
	font-family: Arial;
}

#main-container{
	margin: auto;
}

table{
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}


/**/
form{
	background-color: white;
	border-radius: 3px;
	color: rgb(0, 0, 0);
	align-items: center;
	font-size: 0.8em;
	margin-top: 30px;
	padding: 50px;
	margin: 0 auto;
	width: 1000px;
	height: 500px;
}

input, textarea{
	border: 0;
	outline: none;

	width: 480px;
}

label{
	color: #2cd6b1;
}

.field{
	border: solid 1px #ccc;
	padding: 10px;

	
}

.field:focus{
	border-color: #18A383;
}

.center-content{
	text-align: center;
}

/* Para inicio*/
.bodyClass {
	width: 100%;
	height: 600px;
	background: #bc4e9c;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, hsla(207, 33%, 87%, 0.644), hsla(193, 77%, 37%, 0.664)), url('https://cdn-images-1.medium.com/max/2000/1*1NmajubggvvbwxT03vUZ1A.jpeg');
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, hsla(207, 33%, 87%, 0.644), hsla(193, 77%, 37%, 0.582)), url('https://cdn-images-1.medium.com/max/2000/1*1NmajubggvvbwxT03vUZ1A.jpeg');
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
  }
  
  .textos-main{
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
  }
  
  .textos-main h1{
	font-size: 50px;
	color:#fff;
  }
  
  .textos-main h2{
	font-size: 30px;
	font-weight: 300;
	  color:#fff;
  }
  
  .wave{
	position: absolute;
	bottom: 0;
	width: 100%;
  }
  
  /* Personalizacion de seccion de sobre nosotros */
  /* Configuracion por defecto*/
  body{
	background: #fff;
  }
  span{
	font-size:15px;
  }
  a{
  text-decoration:none;
  }
  .box{
	padding:60px 0px;
  }
  
  .box-part{
	background:#FFF;
	border-radius:0;
	padding:60px 10px;
	margin:30px 0px;
  }
  .text{
	margin:20px 0px;
  }
  .aplanado {
	  width: 630px;
	  height: 380px;
	}